[v-cloak] {
    display: none;
}

#no-app{
    font-size:1.2rem;
    text-align: center;
}

#app-filter{
    margin-bottom: 2rem;
}

#app{    
    background-color: #F1F1F1;
    color: #333;
    min-height: 100vh;
}

#title{    
    background-color: white;
}

#add-button{
    margin-bottom: 5rem;
}

#app-content{
    padding-top: 7rem;
}

#app-loading{
    padding-top: 7rem;
    text-align: center;
    font-size:1.5rem;
}

.app{
    position: relative;
    min-height: 13.5rem;
    margin: 15px 0px;
    padding: 10px 10px 50px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.5);
}

.app-header{
    min-height: 5.5rem;
    background-color:#f9f9f9;
    margin: -10px;
    padding: 10px;
    text-align: center;
}

.app-name{
    font-size: 1.2rem;
}

.app-url{
    font-size: 0.75rem;
    word-break: break-all;
}

.app-url a{        
    color: #888;
}

.app-status{
    margin: 10px -10px;
    padding: 8px;
    color: #fff;
}

.app-status.up{
    background-color: rgb(151, 196, 93);
}

.app-status.down{
    background-color: #FC7C70;
}

.app-status-icon{
    margin: 0px 0.5rem 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3rem;
}

.app-status.down .app-status-icon{    
    margin-top: -0.3rem;
}

.app-status-text{
    display: inline-block;
    vertical-align: middle;
}

.app-status-history{
    float:right;
    margin: 0px 5px 0 0;
    cursor: pointer;
    padding: 5px;
}

.app-history ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 0.7rem;
}

.app-lastup{
    font-size: 0.75rem;
}

.app-header-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}